# TTL Spoofing (Hide Hotspot)
CONFIG_NETFILTER_XT_TARGET_HL=y
CONFIG_IP6_NF_TARGET_HL=y
# BBR (Faster Internet/Tor)
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"
# WireGuard VPN
CONFIG_WIREGUARD=y
# DriveDroid (Phone as Bootable USB)
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_F_FS=y
# Forensic Access
CONFIG_STRICT_DEVMEM=n
# Stealth
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SAMSUNG_KNOX=n
